<h1 class="text-center mb-4">Nuestros Productos</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each products}}
      <div class="col">
        <div class="card h-100 shadow" style="background-color: rgba(255,255,255,0.05); border: 1px solid #555;">
          <img src="{{this.thumbnail}}" class="card-img-top" alt="Imagen del producto" style="object-fit: cover; height: 200px;">
          <div class="card-body">
            <h5 class="card-title text-primary">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text"><strong>Precio:</strong> ${{this.price}}</p>
            <a href="/products/{{this._id}}" class="btn btn-outline-primary">Ver Detalle</a>
            <form action="/api/carts/{{../cid}}/products/{{this._id}}" method="POST" class="mt-2">
              <button type="submit" class="btn btn-primary w-100">Agregar al carrito</button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
