<h1 class="text-center mb-4">Perfil de Usuario</h1>

<div class="card mx-auto p-4 shadow" style="max-width: 500px; background-color: rgba(255, 255, 255, 0.05); border: 1px solid #555;">
  <h4 class="mb-3 text-center text-primary">Bienvenido {{userDTO.first_name}} {{userDTO.last_name}}</h4>

  <p class="text-primary"><strong>Email:</strong> {{userDTO.email}}</p>
  <p class="text-primary"><strong>Edad:</strong> {{userDTO.age}}</p>
  <p class="text-primary"><strong>Rol:</strong> {{userDTO.role}}</p>
</div>
